@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h3>@ViewData["Message"] </h3>

<p>Desenvolvedor: @ViewData["Desenvolvedor"]</p>
<p>@ViewData["Email"] </p>

<address>
    <strong> More Information: </strong> <a href="https://www.linkedin.com/in/gustavo-gon%C3%A7alves-0a57491a4/">LinkeDin</a>
</address>


